<%- include("partials/top.ejs") %>
<div class="container mb-5">
  <button
    type="button"
    class="btn btn-primary btn-sm modal-dialog-centered"
    data-toggle="modal"
    data-target="#emergency"
  >
    emergency
  </button>

  <div
    class="modal fade"
    id="emergency"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="emergencyLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title text-danger" id="emergencyLabel">
            <i class="fas fa-bell"></i>
            <span class="text-uppercase">emergency</span>
          </h5> -->

          <h5 class="modal-title text-success" id="emergencyLabel">
            <i class="fas fa-check-circle"></i>
            <span class="text-uppercase">Someone Defended the tower!</span>
          </h5>
        </div>
        <!-- <div class="modal-body">
          <h6>Our tower is under attack!</h6>
        </div> -->

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Understood
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div
    class="alert alert-danger text-capitalize text-center mt-2"
    role="alert"
  >
    <i class="fas fa-exclamation-triangle"></i>
    <span> patient is offline </span>
  </div> -->

  <div
    class="alert alert-success text-capitalize text-center mt-2"
    role="alert"
  >
    <i class="fas fa-wifi"></i>
    <span> patient is online </span>
  </div>

  <div class="d-flex align-items-center">
    <a
      class="btn btn-outline-secondary btn-sm text-capitalize mr-auto"
      href="/contacts"
      role="button"
      >view contacts</a
    >

    <a
      class="btn btn-primary btn-sm text-capitalize"
      href="/contacts/add"
      role="button"
      >add contact</a
    >
  </div>

  <div class="row mt-4">
    <div class="col-sm-6 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-normal text-capitalize">
            <span class="heart"></span>
            <span> Heart Rate</span>
          </h5>
          <p class="card-text">
            <span>75 BPM</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-normal text-capitalize">
            <i class="fas fa-temperature-low text-success"></i>
            <span>temperature</span>
          </h5>
          <p class="card-text">
            <span>36.7 &#8451;</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-normal text-capitalize">
            <i class="fas fa-battery-three-quarters text-success"></i>
            <span>battery percentage</span>
          </h5>
          <p class="card-text">
            <span>85%</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-normal text-capitalize">
            <i class="fas fa-mobile-alt"></i>
            <span>online devices</span>
          </h5>
          <ul
            id="contactList"
            class="list-group list-group-flush text-capitalize"
          ></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="text" value="<%= name %>" id="name" hidden />
<%- include("partials/bottom.ejs") %>
