<%- include("partials/top.ejs") %>
<div
  class="container d-flex flex-column justify-content-center w-md-25 min-vh-100"
>
  <button
    id="emergencyBtn"
    type="button"
    class="btn btn-danger text-capitalize mb-2 py-3"
  >
    emergency
  </button>
  <button
    id="stopBtn"
    type="button"
    class="btn btn-success text-capitalize mb-2 py-3"
  >
    stop emergency
  </button>

  <button
    id="tempBtn"
    type="button"
    class="btn btn-outline-danger text-capitalize mb-2 py-3"
  >
    random temperature
  </button>

  <button
    id="heartRateBtn"
    type="button"
    class="btn btn-outline-primary text-capitalize mb-2 py-3"
  >
    random heart Rate
  </button>

  <button
    id="batteryBtn"
    type="button"
    class="btn btn-outline-success text-capitalize mb-2 py-3"
  >
    random battery
  </button>

  <button
    id="badHeartRateBtn"
    type="button"
    class="btn btn-danger text-capitalize mb-2 py-3"
  >
    random bad heart rate
  </button>
</div>
<%- include("partials/scripts.ejs") %>
<script src="/scripts/simulator.js"></script>
<%- include("partials/bottom.ejs") %>
